<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620945724490-p39imaje83vf3nvh6amgat5ahs50ioqi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620945724490-p39imaje83vf3nvh6amgat5ahs50ioqi</string>
	<key>API_KEY</key>
	<string>AIzaSyCMyNvcpaX6-md6PvKrCBcSBqPGIWzFGLc</string>
	<key>GCM_SENDER_ID</key>
	<string>620945724490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.loginDemo</string>
	<key>PROJECT_ID</key>
	<string>login-demo-dccaf</string>
	<key>STORAGE_BUCKET</key>
	<string>login-demo-dccaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620945724490:ios:a5eeef75aa7ad8297302b3</string>
</dict>
</plist>